.rect-container-row
  //max-width: 900px

.rect-outer
  padding: 3px

  &.rect-large_square
    .description-block
      max-width: 250px
    .category, .name
      font-size: 28px

  &.rect-tall
    .rect
      padding: calc(200% + 6px) 0 0 0

    .description-block
      .name
        font-size: 20px


.rect
  height: 0
  padding: 100% 0 0 0
  position: relative
  overflow: hidden
  .rect-bg
    position: absolute
    width: 100%
    height: 100%
    top: 0
    left: 0
    background-size: cover
    background-color: #1b3d6d

    img
      display: none

  .rect-inner
    display: block
    position: absolute
    top: 0
    left: 0
    width: 100%
    height: 100%
    padding: 20px
    color: $white-color

  .description-block
    position: absolute
    bottom: 20px
    left: 20px

    .category
      text-transform: uppercase
      line-height: 1

    .name
      +bold
      text-transform: uppercase
      line-height: 1

    .author
      font-size: 12px
      color: rgba($white-color, 0.5)
      margin: 15px 0 0 0
    .author-name
      +bold
      margin: 0 0 0 3px
      color: rgba($white-color, 0.7)




+breakpoint(large up)
  .rect-container
    .rect
      +transition-duration(0.5s)
      +transition-property(all)
      .rect-bg
        +transition-duration(0.5s)
        +transition-property(all)

      .description-block
        z-index: 1

      .shadow-wrap
        position: absolute
        bottom: 0
        width: 100%
        height: 35%
        left: 0
        overflow: hidden

        +transform(translateY(100%))
        +transition-duration(0.5s)
        +transition-property(all)


        .shadow
          display: none
          height: 100%
          width: 100%
          //background: rgba($sky-blue-color, 0.4)




      &:hover
        z-index: 2
        +transform(scale(1.1))


        .rect-bg
          +transform(scale(1.1))

        .shadow-wrap
          +transform(translateY(0))
          //background: rgb(135,224,253) /* Old browsers */
          //+linear-gradient("top, rgba(135,224,253,0.6) 4%, rgba(5,171,224,0.6) 90%, rgba(5,171,224,0.6) 90%, rgba(83,203,241,0.6) 99%, rgba(83,203,241,0.6) 99%")
          +linear-gradient("to bottom, rgba(56,159,217,0) 0%,rgba(56,159,217,1) 100%")
          //+ie-gradient(#87e0fd, #53cbf1)
          //+ie-gradient(#00389fd9,#389fd9)
          //.shadow
            +transform(translateY(0))
            box-shadow: 1px 1px 100px rgba($sky-blue-color, 1)

+breakpoint(small only)
  .rect-container
    .rect-outer
      .rect
        padding: 100% 0 0 0

