$mobile-sidebar-height: 40px
.sidebar
  position: fixed
  width: $sidebar-width
  height: 100%
  z-index: 10
  left: 0
  top: 0
  background: none
  padding: 25px 0 0 0
  background-color: #27618f

  .bg, .bg2
    position: absolute
    top: 0
    left: 0
    height: 100%
    width: 100%

  .bg
    background: $white-color
  .bg2
    background: $sidebar-color


  .sidebar-logo
    text-align: center

  .search-icon
    position: absolute
    bottom: 25px
    padding: 0 16px
    cursor: pointer
    svg
      fill: #484a5c
      fill: #4b4d5f
      width: 13px


    &:hover
      svg
        fill: $sky-blue-color

  .sidebar-navigation
    top: 50%
    position: absolute
    transform: translateY(-50%)
    left: 0

    .item
      width: 45px
      text-align: center
      color: rgba($white-color, 0.3)
      padding: 5px 0
      margin: 10px 0
      cursor: pointer
      position: relative



      &:before
        content: ""
        position: absolute
        left: 0
        top: 10px
        opacity: 0
        +css-triangle(6px, $white-color, right)

      &:after
        content: ""
        position: absolute
        right: 0
        top: 10px
        opacity: 0
        +css-triangle(6px, $white-color, left)

      &.active
        color: $white-color
        cursor: default

        &:before, &:after
          opacity: 1

  +breakpoint(large up)
    .sidebar-inner
      opacity: 0

    .sidebar-logo
      position: relative
      z-index: 1

+breakpoint(medium down)
  .sidebar-holder
    height: $mobile-sidebar-height
  .sidebar
    width: 100%
    height: $mobile-sidebar-height
    padding: 0
    top: -120px
    +transition-property(transform,-webkit-transform)
    +transition-property(top)
    +transition-duration(1s)

    .sidebar-inner
      position: relative

    .sidebar-logo
      text-align: left
      padding: 10px 15px
      height: $mobile-sidebar-height


      img
        vertical-align: top
        width: 20px

    .sidebar-navigation
      display: none

    .search-icon
      right: 0

    &.scrolled, &.visible
      top: 0
      position: fixed

    &.visible
      //position: absolute